/* Global Settngs */

body {
    margin: 0px;
}

a {
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}


/* Helper Classes */

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.text-center {
    text-align: center
}

.w-100 {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
}

p {
    margin-top: 0px;
}

audio {
    width: 100%;
    display: none;
}


/* Global Classes and Ids */

#header {}

#main-navigation {}

.icon {
    display: inline-block;
    padding: 10px;
    width: 55px;
    height: 55px;
    margin: 0px 5px;
    background-color: lightgray;
    background-size: 175px 173px;
    /* background-size: 90% 90%; */
    /* background-position: center center; */
    background-repeat: no-repeat;
    background-image: url("http://www.myiconfinder.com/uploads/iconsets/256-256-46c8ef7ada75656abe6b290f2931fc6c.png");
}

.play-icon {
    background-position: -134px 7px;
}

.pause-icon {
    background-position: -64px 7px;
}

.stop-icon {
    background-position: 6px 7px;
}

.player {
    display: flex;
    margin-bottom: 50px;
}

.player .buttons {
    width: 22%;
}

.player .range {
    padding-top: 20px;
    width: 73%;
}

.player input[type='range'] {
    width: 90%;
}

.playListbtn {
    position: absolute;
    right: 10px;
    top: 20px;
}

#playList li,
#songsList li {
    background-color: #f8f8f8;
    width: 100%;
    margin-bottom: 2px;
    padding: 8px;
    position: relative;
}

#playList li span,
#songsList li span {
    display: inline-block;
    margin: 0px 10px;
}

#playList li:hover,
#songsList li:hover {
    background-color: #e8e8e8;
}

#playList li img,
#songsList li img {
    width: 10%;
}

#playList li .songName,
#songsList li .songName {
    cursor: pointer;
}

#footer {}